@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* colors */
  --color-bg-primary: #111111;
  --color-bg-secondary: #222222;
  --color-bg-tertiary: #2C2C2C;

  --color-label-primary: #eeeeee;
  --color-label-secondary: #cccccc;

  --color-accent: #389DE4;

  /* status colors */
  --color-success: #45CF5D;
  
  --color-danger: #DA3432;

  --color-warning: #E4CA38; /* yellow */
  --color-orange: #FF9900; /* orange */

  /* fonts */
  --font-chakra: var(--font-chakra);
  --font-consolas: "Consolas", monospace;

  /* transition */
  --default-transition-duration: 0.1s;
}

@supports (scrollbar-width: thin) {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cccccc32 transparent;
  }
}


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-8px); }
  40%, 80% { transform: translateX(8px); }
}
.shake { animation: shake 0.5s ease-in-out; transition: transform 0.3s ease; }